
#Layer_1{
    position: absolute;
    right: 50%;
    top:50%;
    transform: translate(50%,-50%);
    z-index: 11;
    color: #fff;
}
#draw{
    stroke: #fff;
    stroke-width: 2px;
    fill: transparent;
    stroke-dasharray:200;
    stroke-dashoffset: 200;
    animation: letter 5s forwards;
}
@keyframes letter {
    to{
        stroke-dashoffset: 100;
    }
}
